/* font family  */
* {
    font-family: 'Poppins', sans-serif;
}
/* first seciton */
.banner{
    background-image: url(../first-repo/new-year-new-me/images/banner/banner1.png);
    background-position: auto;
    text-align: right;
    margin-right: 100px;
}

